@page
@model Katsaka.Pages.Recolte_gestion.PrevisionRecolteModelModel
@{
}


<h1 class="py-2">Prévisions Récolte</h1>
<h3>Résultats minimum</h3>
<p class="py-2">Nombre et longueur des épis des derniers suivis</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuMin[0].IdparcelleNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuMin[0].IdparcelleNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuMin[0].Poidstotalgraine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuMin[0].Nbrtotalepis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuMin[0].Longueurmoyenepis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listRecoltePrevuMin)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdparcelleNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdparcelleNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poidstotalgraine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nbrtotalepis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longueurmoyenepis)
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="py-4"></div>


<h3 class="py-2">Résultats optimistes</h3>
<p>Nombre et longueur des épis des derniers suivis + évolutions par rapport à l'avant dernier suivi</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuLinear[0].IdparcelleNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuLinear[0].IdparcelleNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuLinear[0].Poidstotalgraine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuLinear[0].Nbrtotalepis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listRecoltePrevuLinear[0].Longueurmoyenepis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listRecoltePrevuLinear)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdparcelleNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdparcelleNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poidstotalgraine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nbrtotalepis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longueurmoyenepis)
                </td>
            </tr>
        }
    </tbody>
</table>






