@page
@model Katsaka.Pages.ParametreFrequence_gestion.IndexModel

@{
    ViewData["Title"] = "Parametrefrequence";
}

<h1>Paramètrage fréquence des suivis</h1>

<p>
    <a asp-page="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parametrefrequence[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parametrefrequence[0].Valeur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parametrefrequence) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valeur)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
