@page
@model Katsaka.Pages.Rapport_gestion.ComparaisonDerniersRapportsModel
@{

    ViewData["Title"] = "Comparaisons rapports";
}

<h1>
    Les 2 derniers suivis maïs
</h1>

<p class="py-3 h2">
    Comparaisons
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Idparcelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Nomparcelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Longueurmoyenpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Couleurmoyenpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Nbrpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Nbrepismoyenparpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Longueurmoyenepis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listDerniersSuivi[0].Datesuivi)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listDerniersSuivi)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idparcelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomparcelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longueurmoyenpousse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Couleurmoyenpousse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nbrpousse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nbrepismoyenparpousse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longueurmoyenepis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datesuivi)
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="py-3 h2">
    Evolutions
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.diffSuivis.Longueurmoyenpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diffSuivis.Couleurmoyenpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diffSuivis.Nbrpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diffSuivis.Nbrepismoyenparpousse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diffSuivis.Longueurmoyenepis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diffSuivis.diffDate)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modeldiffSuivis => @Model.diffSuivis.Longueurmoyenpousse)
            </td>
            <td>
                @Html.DisplayFor(modeldiffSuivis => @Model.diffSuivis.Couleurmoyenpousse)
            </td>
            <td>
                @Html.DisplayFor(modeldiffSuivis => @Model.diffSuivis.Nbrpousse)
            </td>
            <td>
                @Html.DisplayFor(modeldiffSuivis => @Model.diffSuivis.Nbrepismoyenparpousse)
            </td>
            <td>
                @Html.DisplayFor(modeldiffSuivis => @Model.diffSuivis.Longueurmoyenepis)
            </td>
            <td>
                @Html.DisplayFor(modeldiffSuivis => @Model.diffSuivis.diffDate)
            </td>
        </tr>
    </tbody>
</table>

<p class="py-3 h2">
    Anomalies
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Attribut concerné
            </th>
            <th>
                Anomalie détectée
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (KeyValuePair<string, string> kvp in Model.listAnomalies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => kvp.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => kvp.Value)
                </td>
            </tr>
        }
    </tbody>
</table>



