@page
@model Katsaka.Pages.Parcelle_gestion.IndexModel

@{
    ViewData["Title"] = "Parcelle";
}

<h1>Parcelles</h1>

<p>
    <a asp-page="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parcelle[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelle[0].Remarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelle[0].IdchampNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelle[0].IdresponsableNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parcelle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdchampNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdresponsableNavigation.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
